<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="SiteUrl" value="http://localhost:4200" />
    <add key="RegisterUrl" value="/registrar" />
    <add key="LoginUrl" value="/login" />
    <add key="FolderPicture" value="\ScreenShots\" />
    <add key="ChromeDriver" value="\Config\ChromeWebDriver\"/>
    <add key="TestUserName" value="teste@teste.com" />
    <add key="TestPassword" value="123@Qa" />
  </appSettings>
  <specFlow>
    <unitTestProvider name="xUnit" />
    <language feature="pt-BR" />
  </specFlow>
</configuration>